<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>学习DOM</title>

    <script>
        function addComp() {
            var elem = document.getElementById("mainDiv");

            var newElem = document.createElement("p");
            newElem.appendChild(document.createTextNode("这是新增的节点."));

            elem.appendChild(newElem);
        }

        function delComp() {
            var elem = document.getElementById("mainDiv");

            elem.removeChild(elem.firstElementChild);
        }

        function addListener(){
            var flag = false;
            document.getElementById("mainDiv").addEventListener("click", divClick, flag);
            document.getElementById("cap-btn").addEventListener("click", btnClick, flag);
        }

        function rmListener(){
            var flag = false;
            document.getElementById("mainDiv").removeEventListener("click", divClick, flag);
            document.getElementById("cap-btn").removeEventListener("click", btnClick, flag);
        }

        function divClick(event){
            console.log("我是来自div点击事件的输出");
        }

        function btnClick(event){
            console.log("我是来自btn点击事件的输出");
            event.stopPropagation();
        }

        var intervalHandler;
        function addInterval(){
            intervalHandler = window.setInterval(function(){
                console.log("我是来自定时事件的输出..." + Date());
            }, 1000);
        }

        function rmInterval(){
            window.clearInterval(intervalHandler);
        }

        var timeoutHandler;
        function addTimeout(){
            timeoutHandler = setTimeout(function(){
                console.log("这是来自TimeOut事件的输出..." + Date());
            })
        }

        function rmTimeOut(){
            clearTimeout(timeoutHandler);
        }

        function testAlert(){
            alert("这是alert！");
        }

        function testConfirm(){
            var value = confirm("你确定吗？");
            console.log(value);
        }

        function testPrompt(){
            var value = prompt("这是prompt, 但我不知道这是干什么的.");
            console.log(value);
        }
    </script>
</head>

<body>
<div id="mainDiv">
    <button type="button" id="cap-btn">点我！</button>
</div>

<div>
    <table>
        <tr>
            <td>
                <button type="button" onclick="addComp();">增加节点</button>
            </td>

            <td>
                <button type="button" onclick="delComp();">删除节点</button>
            </td>

            <td>
                <button type="button" onclick="addListener();">增加事件监听</button>
            </td>

            <td>
                <button type="button" onclick="rmListener();">删除事件监听</button>
            </td>

            <td>
                <button type="button" onclick="addInterval();">
                    增加定时事件
                </button>
            </td>

            <td>
                <button type="button" onclick="rmInterval();">
                    删除定时事件
                </button>
            </td>

            <td>
                <button type="button" onclick="addTimeout();">
                    增加TimeOut事件
                </button>
            </td>

            <td>
                <button type="button" onclick="rmTimeOut();">
                    删除TimeOut事件
                </button>
            </td>
        </tr>

        <tr>
            <td>
                <button type="button" onclick="testAlert();">测试alert</button>
            </td>

            <td>
                <button type="button" onclick="testConfirm();">测试confirm</button>
            </td>

            <td>
                <button type="button" onclick="testPrompt();">测试prompt</button>
            </td>
        </tr>
    </table>

    <script>
        
    </script>


</div>
</body>
</html>