<div id="mainDiv"></div>

<button type="button" id="prepend-btn">插入节点</button>
<button type="button" id="add-btn">增加节点</button>
<button type="button" id="empty-btn">清空节点</button>
<button type="button" id="del-btn">删除节点</button>

<div>
<button type="button" id="add-class">增加class</button>
<button type="button" id="del-class">删除class</button>
<button type="button" id="toggle-class">切换class</button>
</div>

<div>
    <button type="button" id="show-class">显示CSS</button>
</div>

<script>
    $(function(){
        $("#show-class").click(function(){
            console.log($("div:first").css("font-size"));
        });

        $("#add-class").click(function(){
            $("div:first").addClass("toHide secondClass");
        });

        $("#del-class").click(function(){
            $("div:first").removeClass("toHide secondClass");
        });

        $("#toggle-class").click(function(){
            $("div:first").toggleClass("toHide secondClass");
        });

        $("#prepend-btn").click(function(){
            $("div:first").before("<div id='prependDiv'>这是新的内容</div>");
        });

        $("#add-btn").click(function(){
            $("div:first").prepend("<p>这是新的内容</p>");
        });

        $("#empty-btn").click(function(){
            $("div:first").empty();
        });

        $("#del-btn").click(function(){
            $("div:first").remove();
        });
    });

    $(document).keydown(function(e){
        if(e.keyCode == 13){
            $("#add-btn").click();
        }else if(e.keyCode == 8){
            $("#empty-btn").click();
            return false;
        }else if(e.keyCode == 46){
            $("#del-btn").click();
        }
    });
</script>