<!DOCTYPE html>

#set($contextPath = $rc.contextPath)

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>学习OpenID</title>
</head>

<body>
    <form action="$contextPath/openid/login.json" method="post">
        <table>
            <tr>
                <th>OpenID:</th>
                <td><input type="text" placeholder="Enter your OpenID: " name="openID"/></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="提交"/> </td>
            </tr>
        </table>
    </form>
</body>
</html>