<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <context:component-scan base-package="com.cmcc.syw">
        <context:exclude-filter type="regex" expression="com.cmcc.syw.controller.*"/>
    </context:component-scan>

    <!-- jdbc conf -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:conf/jdbc/jdbc.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8"/>
        <property name="placeholderPrefix" value="@{"/>
    </bean>

    <!-- import datasource -->
    <import resource="classpath:conf/spring/datasource.xml"/>

    <!-- spring-security -->
    <import resource="classpath:conf/springsecurity/spring-security.xml"/>

    <jaxws:endpoint id="hello" address="/hello"
                    implementor="com.cmcc.syw.webservice.Server"/>

    <bean class="org.apache.cxf.jaxrs.JAXRSServerFactoryBean" init-method="create">
        <property name="address" value="/"/>
        <property name="serviceBean">
            <bean class="com.cmcc.syw.webservice.RestServer"/>
        </property>
    </bean>


</beans>

