<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student_patrick" class="com.cmcc.syw.utils.CustomBeanFactory" factory-method="getStudent"/>

    <bean name="customBeanFactory" class="com.cmcc.syw.utils.CustomBeanFactory"/>

    <bean id="author" factory-bean="customBeanFactory" factory-method="getAuthor"/>

    <bean id="article" class="com.cmcc.syw.model.Article" scope="prototype">
        <property name="title" value="title"/>
    </bean>

    <bean id="authorConverter" class="com.cmcc.syw.utils.StringToAuthor"/>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref local="authorConverter"/>
            </set>
        </property>
    </bean>
</beans>